*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* This is the start of navigation  */
nav{
    height: 60px;
    width: 100%;
    background-color: #eedbff;
    position: sticky;
}
.logo{
    float: left;
    margin: 5px 15px;
}

nav ul{
    list-style-type: none;
    float: right;
}
nav ul li{
    display: inline-block;
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 20px 20px;
}
nav ul li:hover{
    color: darkmagenta;
}
nav ul li:active{
    color:cornflowerblue;
}
